@media (max-width:1200px) {
    body {
        nav {
            div {

                gap: 15px !important;
                a {
                    p{
                        display: none;

                    }
                    i {
                        display: flex !important;
                    }
                }
            }
        }
    }
}

@media (max-width:858px ) {
          body {
            nav {
                div {
                    gap: 30px;
                }
            }
          }
}


@media (max-width:832px ) {

body {
    nav {
        div {
            gap: 20px;
        }
    }
}
@media (max-width:774px ) {

    footer {
        padding-top: 50px;
        height: 100% !important;
        flex-direction: column;
        gap: 60px !important;
        align-items: flex-start !important;
    }
}

@media (max-width:708px) {
    body {
        nav {
            h1 {
                font-size: 20px !important;
                padding-left: 20px !important;
            }
           
        }
    }

} 
@media (max-width:634px) {
    body {
        nav {
            div {

               padding-right: 20px !important;
                a {
                    p {
                        display: none;
                    }
                    i {
                        display: flex  !important;
                    }
                }
            }
        }
    }
}

@media (max-width:399px ) {
    body {
        nav {
            h1 {
                padding-left: 3px !important;
            }
            a {
                font-size: 15px !important;
            }
        }
    }
}


@media (max-width:392px ) {
   body {
    nav {
        h1 {
            padding-left: 10px !important;
            font-size: 15px !important;
        }
        div {
            gap: 15px !important;
            a {
                font-size: 15px !important;
                gap: 15px !important;
            }
            
        }

    }
}
}

footer {
    img {
        margin-right: 0px !important;
    }
}
}
