@media (max-width:1200px) {
    body {
        nav {
            div {

                gap: 15px !important;
                a {
                    p{
                        display: none;

                    }
                    i {
                        display: flex !important;
                    }
                }
            }
        }
    }
}


@media (max-width:858px) {
    body {
        nav {
            div {
                gap: 25px !important;
            }
        }
    }
}

@media (max-width:755px) {
    body {
        nav {
            div {
                gap: 15px !important;
            }
        }

        footer {
            padding-top: 50px;
            flex-direction: column;
            height: 100% !important;
            align-items: flex-start !important;
            gap: 50px !important;
        }
    }
}

@media (max-width:593px) {
    body {
        nav {
            h1 {
                padding-left: 5px !important;
            }
            
        }
    }
}

@media (max-width:409px) {
    body {
        nav {
            h1 {
                font-size: 20px !important;
            }
            div {
                gap: 10px !important;
                a {
                    font-size: 15px !important;
                }
            }
        }
    }
}

@media (max-width:409px) {
    body {
        main {
            section {
                width: 300px !important;

                img {
                    width: 290px !important;
                }
            }
        }
    }
}