<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add product</title>
    <link rel="icon" href="images/Ficon.png">
    <link rel="stylesheet" href="../static/signin.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="back">
        <a onclick="history.back()"><i class="fa-solid fa-backward fa-2xl" style="color: #fafafa;"></i></a>
    </div>
    <main>
        <div>
            
            <h1>add game</h1>
            <form style="display: flex; flex-direction: column; gap: 17px;" method="POST" enctype="multipart/form-data">
                {{form.hidden_tag()}}
             <section>
                {{form.title(placeholder="name")}}
              </section>
  
            <section>
            {{form.description(placeholder="description")}}
            </section>  
            <section>
                {{form.download_link(placeholder="download link")}}
            </section>     
             <section>
            {{form.image()}}
            </section>                                                  
           {{ form.submit(value="Add Product") }}         
            </form>
        </div>
    </main>
    <script src="https://kit.fontawesome.com/44c8b205f8.js" crossorigin="anonymous"></script>
</body>

</html>